.about-container{
    width: 100%;
    max-width: 1000px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-container img{
    width: 220px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.about-container h1{
    text-align: center;
}

.about-container p{
    text-align: center;
    width: 700px;
    padding: 0 60px;
    margin-top: 12px;
    line-height: 25px;
}

.about-container .link{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50px;
    text-align: center;
}